<div id="<%= dom_id vol %>" class="vol">
  <p>
    <strong>Numero:</strong>
    <%= vol.numero %>
  </p>

  <p>
    <strong>Id aeroport depart:</strong>
    <%= vol.departure_aeroport_id %>
  </p>

  <p>
    <strong>Id aeroport arrivee:</strong>
    <%= vol.arrival_aeroport_id %>
  </p>

  <p>
    <strong>Duree:</strong>
    <%= vol.duree %>
  </p>

  <p>
    <strong>Date de depart:</strong>
    <%= vol.date_depart %>
  </p>

  <p>
    <strong>Nb place economique:</strong>
    <%= vol.nb_place_economique %>
  </p>

  <p>
    <strong>Nb place business:</strong>
    <%= vol.nb_place_business %>
  </p>

</div>
