<div id="<%= dom_id vol %>" class="vol">
  <p>
    <strong>Numero:</strong>
    <%= vol.numero %>
  </p>

  <p>
    <strong>Aeroport de départ</strong>
    <%= vol.departure_aeroport.libelle %>
  </p>

  <p>
    <strong>Aeroport d'arrivee</strong>
    <%= vol.arrival_aeroport.libelle %>
  </p>

  <p>
    <strong>Duree:</strong>
    <%= vol.duree %>
  </p>

  <p>
    <strong>Date de depart:</strong>
    <%= vol.date_depart.strftime("%d %B %Y") %>
  </p>

  <p>
    <strong>Nb place economique:</strong>
    <%= vol.nb_place_economique %>
  </p>

  <p>
    <strong>Nb place business:</strong>
    <%= vol.nb_place_business %>
  </p>

</div>
