<div id="<%= dom_id vol %>">
  <p>
    <strong>Numero:</strong>
    <%= vol.numero %>
  </p>

  <p>
    <strong>Id aeroport depart:</strong>
    <%= vol.id_aeroport_depart %>
  </p>

  <p>
    <strong>Id aeroport arrivee:</strong>
    <%= vol.id_aeroport_arrivee %>
  </p>

  <p>
    <strong>Duree:</strong>
    <%= vol.duree %>
  </p>

  <p>
    <strong>Date depart:</strong>
    <%= vol.date_depart %>
  </p>

  <p>
    <strong>Nb place economique:</strong>
    <%= vol.nb_place_economique %>
  </p>

  <p>
    <strong>Nb place business:</strong>
    <%= vol.nb_place_business %>
  </p>

</div>
