<%= form_with(model: reservation) do |form| %>
  <div>
    <%= form.label :id_vol, style: "display: block" %>
    <div class="id_vol"><%=@flight.id %></div>
  </div>
  <%= form.hidden_field :vol_id, value: @flight.id %>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div>
    <%= form.label :id_user, style: "display: block" %>
    <div class="id_user"><%=current_user.id%></div>
  </div>

  <div>
    <%= form.label :nb_passagers, style: "display: block" %>
    <%= form.number_field :nb_passagers %>
  </div>

  <div>
    <%= form.label "Place économique/place buisness", style: "display: block" %>
    <%= form.check_box :choix_place %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
