<div id="<%= dom_id reservation %>">
  <p>
    <strong>Id vol:</strong>
    <%= reservation.vol_id %>
  </p>

  <p>
    <strong>Id user:</strong>
    <%= reservation.user_id %>
  </p>

  <p>
    <strong>Nb passagers:</strong>
    <%= reservation.nb_passagers %>
  </p>

  <p>
    <strong>Choix place:</strong>
    <%= reservation.choix_place %>
  </p>

</div>
